h3 a {
	color: black;
}

h3 a:hover {
	color: #04B486;
}

p, td {
	color: black;
}

.hover-line:hover {
	text-decoration: underline;
}

.hover-line:visited {
	text-decoration: none;
}

ul {
	margin-bottom: 0;
}


.read-next {
	padding-bottom: 7px;
}

.center-content {
	text-align: center;
}

.right-content {
	text-align: right;
}

.div-container {
	display: flex;
}

.img-in-div {
	max-height:100%; 
	max-width:100%;
}


.half-div {
	display: inline-block;
    width: 50%;
    float: left;
    min-height: 100px;
}

.div-text {
	box-sizing: border-box;
	padding: 3px;
	padding-top: 0;
}

.div-pic {
	text-align: center;
	padding: 0 2px 2px 0;
}

@media screen and (max-width: 700px) {
    .half-div {
     	width: 100%;
    }

    .div-pic {
    	padding-bottom: 20px;
    }
    
    .div-text {
     	padding: 0 0 !important;
    }
    
    .div-container { flex-direction: column; }
	
	.div-container:nth-child(2) > .div-pic {
		order: -1;
	}
}


/* grid photos gallery */

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos .photo-item {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding-right: 1px;
  padding-bottom: 1px;
}

@media (max-width: 1400px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}